header{
    position: relative;  /* Ensures the header's child elements can be positioned relative to it */
    padding: 1rem;
}

body{
    background-color: #203731;/*rocky*/
    max-width: 1600px;
    margin: .5rem auto;
    padding: .5rem;
    font-size: large;
    width: 100%;
    overflow-x: hidden; 
}
.common-background{
    padding: .5rem;
    margin: 0 auto;
}

#wrapper, #main-wrapper{
    padding: 1rem;
    text-align: center;
    font-size: x-large;
    text-align: left;
}

#main-wrapper{
    text-align: center;
}

#bear-wrapper, #duncan-wrapper, #brew-wrapper, #rocky-wrapper, #extra-wrapper, #movie-wrapper{
    padding: 1rem;
    text-align: center;
    font-size: x-large;
    margin: 0 auto; 
    width: 80%;
}
#wrapper{
    background-color:#FFB612;
}
#bear-background{
    background-color: #121015;
}
#bear-wrapper{
    background-color: #fcfcfa;
}
#duncan-background{
    background-color: #ffffff;
}
#duncan-wrapper{
    background-color: #201e1f;
    color: white;
}
#brew-background{
    background-color: #d8b693;
}
#brew-wrapper{
   background-color:  #f5efe7;
}
#rocky-background{
    background-color: #3e2b1d;
}
#rocky-wrapper{
    background-color: #f8ba84;
}
#extra-background{
    background-color:darkslategray
}
#extra-wrapper{
    background-color: lightsteelblue;
}
#movie-wrapper{
    background-color: lightsteelblue; 
}

nav a{
    text-decoration: none; /*remove underlines*/
    color: red;
}

nav a.active {
    background-color: #4CAF50; /* for example, a green background */
    color: white; /* white text */
}

.hamburger {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: red;
}

/* Hide and show menu */
.nav-menu-hidden {
    display: none;
}

.nav-menu-visible {
    display: block;
}

/* Optional: Style for the navigation menu */
nav ul {
    list-style-type: none; /* Removes the bullet points */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    cursor: pointer; /*adds pointing hand*/
    padding: 0;
    margin: 0;
    font-size: 3rem;
}

nav li {
    padding: 8px;
}

h1{
    text-align: center;
}

 img{
    border-radius: 2rem;
    border: 3px solid black;
    margin: .5rem 0;
    max-width: 300px;
    /* position: relative; */
 }

 #hero1 {
    width: 100%; /* This can be set to any size or percentage you prefer */
    max-width: none; /* This will remove the max-width restriction for #hero1 */
    box-sizing: border-box;
    border-radius: 2rem;
    border: 2px solid black;
    max-height: 250px; /* This restricts the height, not the width */
}
h1{
    font-size: 4rem;
    font-weight: 900;
}
.large-title{
    font-size: 3rem;
    font-weight: 800;
    
}
.border{
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
}

 .duncan-pics{
    border: 2px white solid;
 }

 .movie-div{
    border: 5px solid black;
    border-radius: 2rem;
    padding: 1rem;
 }

 #doggie-fight{
    border: 2px solid white;
    border-radius: 2rem;
    padding: 1rem;
 }
 video{
    margin: 1rem;
    max-width: 300px;
    padding: .5rem;
    box-sizing: border-box;
 }
 #doggie-fight {
    max-width: 300px;
    box-sizing: border-box;
    margin: 0 auto;

}

#doggie-fight video {
    width: 100%; /* This makes the video fill the width of the parent container. */
    max-width: 100%; /* This prevents the video from exceeding the width of the parent container. */
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}
/*Make gator biting arm shake*/
@keyframes shake {
    0% { transform: translateX(0); }
    10% { transform: translateX(-10px); }
    20% { transform: translateX(10px); }
    30% { transform: translateX(-10px); }
    40% { transform: translateX(10px); }
    50% { transform: translateX(-10px); }
    60% { transform: translateX(10px); }
    70% { transform: translateX(-10px); }
    80% { transform: translateX(10px); }
    90% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
  }

  .img-shake:hover {
    animation: shake 0.5s;
    animation-iteration-count: 2; /* Defines how many times the animation plays */
  }

  /*move picture in from off screen*/
  @keyframes slideInFromLeft {
    0% { left: -100%; }
    100% { left: 0; }
  }

  .img-slide {
    position: relative;
    left: -100%;
    animation: slideInFromLeft 2s forwards; /* `forwards` ensures it remains in the final state after animation completes */
  }

  /*make image spin*/
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.img-spin {
    animation: spin 4s linear; /* Adjust the 2s for a faster or slower spin */
  }
 /*spin oppiste direction*/
  @keyframes spinReverse {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
  }

  .img-spin-reverse {
    animation: spinReverse 30s linear infinite; /* The image will spin counter-clockwise once over a duration of 2 seconds */
  }
  
  /*Make image larger on hover over*/
  .img-scale:hover {
    transform: scale(1.25); /* 1.25 means 125% of the original size, i.e., 25% larger */
    transition: transform 0.3s ease; /* Optional: for smooth scaling */
  }

  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/*moves picture in and out*/
.pulse {
    animation: pulse 2s infinite;
}

@keyframes wag {
    0% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}
.wag {
    animation: wag 0.5s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-20px); }
    60% { transform: translateY(-10px); }
}
.bounce {
    animation: bounce 2s infinite;
}

.tilt:hover {
    transition: transform 0.5s;
    transform: rotate(-5deg);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.fade-in {
    animation: fadeIn 10s;
}

.flip:hover {
    transform: scaleX(-1); /* For horizontal flip */
    /* transform: scaleY(-1); For vertical flip */
    transition: transform 0.5s;
}

@media screen and (min-width: 901px) {
    .hamburger {
        display: none;  /* Hide hamburger button */
    }

    #nav-menu {
        display: block;  /* Always show the navigation menu */
    }

    nav ul {
        flex-direction: row;  /* Make the nav horizontal */
        justify-content: space-between;
        flex-wrap: nowrap; /* Ensure items don't wrap to next line */
    }

    nav li {
        display: inline-block; /* Make sure list items are inline */
        margin: 0;
        margin-right: 20px;  /* Space between horizontal list items. You can adjust this value. */
    }

    nav li:last-child {
        margin-right: 0;  /* Ensures the last item doesn't have unnecessary right margin */
    }
    #bear-wrapper, #duncan-wrapper, #brew-wrapper, #rocky-wrapper, #extra-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two equal width columns */
        text-align: center;
    }
}


 
  
  

  