body{
    background-color: #203731;/*rocky*/
    max-width: 1600px;
    margin: .5rem auto;
    padding: .5rem;
}
.common-background{
    padding: .5rem;
    margin: 0 auto;
}
#wrapper, #bear-wrapper, #duncan-wrapper, #brew-wrapper, #rocky-wrapper{
    padding: 1rem;
    text-align: center;
}
#wrapper{
    background-color:#FFB612;
}
#bear-background{
    background-color: #121015;
}
#bear-wrapper{
    background-color: #fcfcfa;
}
#duncan-background{
    background-color: #ffffff;
}
#duncan-wrapper{
    background-color: #201e1f;
    color: white;
}
#brew-background{
    background-color: #d8b693;
}
#brew-wrapper{
   background-color:  #f5efe7;
}
#rocky-background{
    background-color: #3e2b1d;
}
#rocky-wrapper{
    background-color: #f8ba84;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    list-style: none; /* Removes the bullet points */
    cursor: pointer; /*adds pointing hand*/
    padding: 0;
    margin: 0;
    font-size: 3rem;
}
nav a{
    text-decoration: none; /*remove underlines*/
    color: red;
}

nav a.active {
    background-color: #4CAF50; /* for example, a green background */
    color: white; /* white text */
}

.hamburger {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: red;
}

/* Hide and show menu */
.nav-menu-hidden {
    display: none;
}

.nav-menu-visible {
    display: block;
}

/* Optional: Style for the navigation menu */
nav ul {
    list-style-type: none;
}

nav ul li {
    padding: 8px;
}

h1{
    text-align: center;
}

 img{
    border-radius: 2rem;
    border: 2px solid black;
    margin: .5rem 0;
    max-width: 300px;
 }

 #hero1 {
    width: 100%; /* This can be set to any size or percentage you prefer */
    max-width: none; /* This will remove the max-width restriction for #hero1 */
    box-sizing: border-box;
    border-radius: 2rem;
    border: 2px solid black;
    max-height: 250px; /* This restricts the height, not the width */
}

 .duncan-pics{
    border: 2px white solid;
 }
